{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h1>
      {% include 'twitter.html' %}
    </header>

    <div class="entry-content">
      {{ article.content }}
    </div><!-- /.entry-content -->
    {% if DISQUS_SITENAME %}
    <div class="comments">
      <h2>Comments !</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    {% endif %}

  </article>
</section>

{# Show articles in this category. #}
{% set category_articles = [] %}
{% for art in articles %}
    {% if ((art.category == article.category) and (art.title != article.title)) %}
        {% do category_articles.append(art) %}
    {% endif %}
{% endfor %}

{% for art in category_articles %}
{% if loop.first %}
<section id="content" class="body">
    <h1>Other Articles In '{{ article.category }}'</h1>
    <hr />
    <ol id="posts-list" class="hfeed">
{% endif %}
        <li><article class="hentry">
            <header>
                <h1><a href="{{ SITEURL }}/{{ art.url }}" rel="bookmark"
                       title="Permalink to {{ art.title|striptags }}">{{ art.title }}</a></h1> &mdash; {{ art.summary }}
            </header>
        </article></li>
{% if loop.last %}
    </ol><!-- /#posts-list -->
</section>
{% endif %}
{% endfor %}

{% endblock %}
